# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Python build artifacts
.Python
*.egg
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
pip-wheel-metadata/

# Environment folders
env/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*.ipynb

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Logs and debug
*.log
*.out
*.tmp
*.bak
*.swp

# Model files and data artifacts
*.pkl*
